<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_04e0c3a20124fc8f6261bacad22e3112 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_04e0c3a20124fc8f6261bacad22e3112" ></div>
        
</body>
<script>
    
    
            var map_04e0c3a20124fc8f6261bacad22e3112 = L.map(
                "map_04e0c3a20124fc8f6261bacad22e3112",
                {
                    center: [51.455211, -10.683017],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_68f8b6c25d9dda26ea72bfd177837772 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_68f8b6c25d9dda26ea72bfd177837772.addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            var polygon_4ae7a9b96cf37664c7aba9a8d64aa7a9 = L.polygon(
                [[48.817307, -15.761518], [56.191828, -15.761518], [56.191828, -4.963343], [48.817307, -4.963343]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_4ae7a9b96cf37664c7aba9a8d64aa7a9.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_d6e7e8cd97621bce769831af096634be = L.polygon(
                [[51.455211, -10.683017], [55.472478, -10.683017], [55.472478, -5.687147], [51.455211, -5.687147]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_d6e7e8cd97621bce769831af096634be.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_1f35a4e5b59444e810a905e1768ba432 = L.polygon(
                [[51.455211, -10.683017], [55.472478, -10.683017], [55.472478, -5.687147], [51.455211, -5.687147]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_1f35a4e5b59444e810a905e1768ba432.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_c85f748f823a0e56333bfa2b678f59c5 = L.polygon(
                [[50.683802, -11.533173], [55.254092, -11.533173], [55.254092, -6.864257], [50.683802, -6.864257]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_c85f748f823a0e56333bfa2b678f59c5.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_4b949d25e5469d0cd06fd10bb45c0922 = L.polygon(
                [[50.683802, -11.533173], [55.254092, -11.533173], [55.254092, -6.864257], [50.683802, -6.864257]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_4b949d25e5469d0cd06fd10bb45c0922.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_88dcf7120726f03aaf272bfab9eabdef = L.polygon(
                [[50.762784, -15.719833], [56.184871, -15.719833], [56.184871, -9.159157], [50.762784, -9.159157]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_88dcf7120726f03aaf272bfab9eabdef.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_29b88e6e761694773be8a065f41a2456 = L.polygon(
                [[50.762784, -15.719833], [56.184871, -15.719833], [56.184871, -9.159157], [50.762784, -9.159157]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_29b88e6e761694773be8a065f41a2456.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_b69884e8473a5dcf2a70d335bb9a294b = L.polygon(
                [[51.495927, -10.622985], [55.471438, -10.622985], [55.471438, -7.289526], [51.495927, -7.289526]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_b69884e8473a5dcf2a70d335bb9a294b.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_f3a6372843a4fd781c3504cfa594837d = L.polygon(
                [[51.495927, -10.622985], [55.471438, -10.622985], [55.471438, -7.289526], [51.495927, -7.289526]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_f3a6372843a4fd781c3504cfa594837d.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_9ce08870bfabd8b8830eabf6b89b8ef9 = L.polygon(
                [[48.878016, -14.25653], [54.770567, -14.25653], [54.770567, -6.660547], [48.878016, -6.660547]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_9ce08870bfabd8b8830eabf6b89b8ef9.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_0eb4ee444c9b70e614244798451104bf = L.polygon(
                [[48.878016, -14.25653], [54.770567, -14.25653], [54.770567, -6.660547], [48.878016, -6.660547]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_0eb4ee444c9b70e614244798451104bf.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_68f8ad5a029e2defc3f038c6e7ff69d2 = L.polygon(
                [[48.932223, -12.849687], [56.021195, -12.849687], [56.021195, -8.756909], [48.932223, -8.756909]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_68f8ad5a029e2defc3f038c6e7ff69d2.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_1bcd6bb85e0568a8f39e22f635b3a39d = L.polygon(
                [[48.932223, -12.849687], [56.021195, -12.849687], [56.021195, -8.756909], [48.932223, -8.756909]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_1bcd6bb85e0568a8f39e22f635b3a39d.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_a319d4ba7350b68b02d2fdc3504c3eb4 = L.polygon(
                [[48.831971, -15.758184], [56.175099, -15.758184], [56.175099, -7.459144], [48.831971, -7.459144]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_a319d4ba7350b68b02d2fdc3504c3eb4.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_2df6c5135f1b81d155e373e590c1acbd = L.polygon(
                [[48.831971, -15.758184], [56.175099, -15.758184], [56.175099, -7.459144], [48.831971, -7.459144]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_2df6c5135f1b81d155e373e590c1acbd.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_acdf60e8679969145b11f5e7f380a74f = L.polygon(
                [[51.218277, -10.759798], [54.041243, -10.759798], [54.041243, -5.121949], [51.218277, -5.121949]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_acdf60e8679969145b11f5e7f380a74f.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_acaa72665a8855e52e2d168693b70b10 = L.polygon(
                [[51.218277, -10.759798], [54.041243, -10.759798], [54.041243, -5.121949], [51.218277, -5.121949]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_acaa72665a8855e52e2d168693b70b10.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_11956ab7a66eadeb480dbf90d428eff4 = L.polygon(
                [[51.091133, -10.842561], [53.989957, -10.842561], [53.989957, -5.591471], [51.091133, -5.591471]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_11956ab7a66eadeb480dbf90d428eff4.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_48c0a7795823b0eab53385c5229aaa4f = L.polygon(
                [[51.091133, -10.842561], [53.989957, -10.842561], [53.989957, -5.591471], [51.091133, -5.591471]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_48c0a7795823b0eab53385c5229aaa4f.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_19e9739bcad32f84ce2f2b3de90d3494 = L.polygon(
                [[51.966647, -7.446895], [54.119003, -7.446895], [54.119003, -5.565187], [51.966647, -5.565187]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_19e9739bcad32f84ce2f2b3de90d3494.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_790e3f7b00edc2ccbcdafe1c6f7d9939 = L.polygon(
                [[51.966647, -7.446895], [54.119003, -7.446895], [54.119003, -5.565187], [51.966647, -5.565187]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_04e0c3a20124fc8f6261bacad22e3112);
        
    
            polygon_790e3f7b00edc2ccbcdafe1c6f7d9939.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>