<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1a63ed6e93bb427eaa47962d18195133 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_1a63ed6e93bb427eaa47962d18195133" ></div>
        
</body>
<script>
    
    
            var map_1a63ed6e93bb427eaa47962d18195133 = L.map(
                "map_1a63ed6e93bb427eaa47962d18195133",
                {
                    center: [51.455211, -10.683017],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0f3a22ca77121e4923b161087b67b03c = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_0f3a22ca77121e4923b161087b67b03c.addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            var polygon_943663b9ae7f1bb1a7bb214453c8962f = L.polygon(
                [[48.817307, -15.761518], [56.191828, -15.761518], [56.191828, -4.963343], [48.817307, -4.963343]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_943663b9ae7f1bb1a7bb214453c8962f.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_97643686e7d9bf2f4d912427f618eb12 = L.polygon(
                [[51.455211, -10.683017], [55.472478, -10.683017], [55.472478, -5.687147], [51.455211, -5.687147]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_97643686e7d9bf2f4d912427f618eb12.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_650ae72a0a3f58931d8a459601847e87 = L.polygon(
                [[51.455211, -10.683017], [55.472478, -10.683017], [55.472478, -5.687147], [51.455211, -5.687147]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_650ae72a0a3f58931d8a459601847e87.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_8a55dbcb2cc0a4edd81ef6092df6e3c0 = L.polygon(
                [[50.683802, -11.533173], [55.254092, -11.533173], [55.254092, -6.864257], [50.683802, -6.864257]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_8a55dbcb2cc0a4edd81ef6092df6e3c0.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_d785c0de7e2c0c50182e99d96f4dce11 = L.polygon(
                [[50.683802, -11.533173], [55.254092, -11.533173], [55.254092, -6.864257], [50.683802, -6.864257]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_d785c0de7e2c0c50182e99d96f4dce11.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_37ecc33c6a016632e45c3ba75450758c = L.polygon(
                [[50.762784, -15.719833], [56.184871, -15.719833], [56.184871, -9.159157], [50.762784, -9.159157]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_37ecc33c6a016632e45c3ba75450758c.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_a669b652dd8852bd8026fe37a27ca815 = L.polygon(
                [[50.762784, -15.719833], [56.184871, -15.719833], [56.184871, -9.159157], [50.762784, -9.159157]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_a669b652dd8852bd8026fe37a27ca815.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_bf13d7c295592b5c6465da01538513e4 = L.polygon(
                [[51.495927, -10.622985], [55.471438, -10.622985], [55.471438, -7.289526], [51.495927, -7.289526]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_bf13d7c295592b5c6465da01538513e4.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_5506cb76652a807ffc1513119080a01f = L.polygon(
                [[51.495927, -10.622985], [55.471438, -10.622985], [55.471438, -7.289526], [51.495927, -7.289526]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_5506cb76652a807ffc1513119080a01f.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_83c08d6322ca641dc08073cd2ad85ee7 = L.polygon(
                [[48.878016, -14.25653], [54.770567, -14.25653], [54.770567, -6.660547], [48.878016, -6.660547]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_83c08d6322ca641dc08073cd2ad85ee7.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_cabaf28108f07cb40c88752319ea1736 = L.polygon(
                [[48.878016, -14.25653], [54.770567, -14.25653], [54.770567, -6.660547], [48.878016, -6.660547]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_cabaf28108f07cb40c88752319ea1736.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_34181edca1b43484697e844c8df734a1 = L.polygon(
                [[48.932223, -12.849687], [56.021195, -12.849687], [56.021195, -8.756909], [48.932223, -8.756909]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_34181edca1b43484697e844c8df734a1.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_84bb5c98046224d988729b65028e2599 = L.polygon(
                [[48.932223, -12.849687], [56.021195, -12.849687], [56.021195, -8.756909], [48.932223, -8.756909]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_84bb5c98046224d988729b65028e2599.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_d51eecb0e2bf462c78450cf0fae88477 = L.polygon(
                [[48.831971, -15.758184], [56.175099, -15.758184], [56.175099, -7.459144], [48.831971, -7.459144]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_d51eecb0e2bf462c78450cf0fae88477.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_30e470847b73805b4d75357ce0e91511 = L.polygon(
                [[48.831971, -15.758184], [56.175099, -15.758184], [56.175099, -7.459144], [48.831971, -7.459144]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_30e470847b73805b4d75357ce0e91511.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_17add091a721fd3db53bd674560100ee = L.polygon(
                [[51.218277, -10.759798], [54.041243, -10.759798], [54.041243, -5.121949], [51.218277, -5.121949]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_17add091a721fd3db53bd674560100ee.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_07ebf95e23a43cadeca2e8f7562c76ac = L.polygon(
                [[51.218277, -10.759798], [54.041243, -10.759798], [54.041243, -5.121949], [51.218277, -5.121949]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_07ebf95e23a43cadeca2e8f7562c76ac.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_352c43baf33589e1b5cf5a80507a9ca8 = L.polygon(
                [[51.091133, -10.842561], [53.989957, -10.842561], [53.989957, -5.591471], [51.091133, -5.591471]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_352c43baf33589e1b5cf5a80507a9ca8.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_ec8458733afc3800dcc59d62d40a0291 = L.polygon(
                [[51.091133, -10.842561], [53.989957, -10.842561], [53.989957, -5.591471], [51.091133, -5.591471]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_ec8458733afc3800dcc59d62d40a0291.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_adbe470d4fe6c3f53890daa2bffe083e = L.polygon(
                [[51.966647, -7.446895], [54.119003, -7.446895], [54.119003, -5.565187], [51.966647, -5.565187]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_adbe470d4fe6c3f53890daa2bffe083e.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_039d39a2d78b1246259540d2e112ba41 = L.polygon(
                [[51.966647, -7.446895], [54.119003, -7.446895], [54.119003, -5.565187], [51.966647, -5.565187]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1a63ed6e93bb427eaa47962d18195133);
        
    
            polygon_039d39a2d78b1246259540d2e112ba41.bindTooltip(
                `<div>
                     Nursing Boundary
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>